@import "tailwindcss";
@import "@nuxt/ui";


.geocoder-container {
  pointer-events: none;
}
.geocoder-container > * {
  pointer-events: auto;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: none !important;
}


/* Input sizing */
.mapboxgl-ctrl-geocoder input {
  height: 2rem !important;      /* h-8 on mobile */
  font-size: 0.875rem !important; /* text-sm */
  padding-left: 2rem !important;  /* pl-8 so icon fits */
}

/* Icons inside input */
.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--button {
  width: 1.25rem !important;   /* w-5 */
  height: 1.25rem !important;  /* h-5 */
  top: 50% !important;
  transform: translateY(-50%); /* center vertically */
}

/* Larger styles for md and above */
@media (min-width: 768px) {
  .mapboxgl-ctrl-geocoder input {
    height: 2.5rem !important;   /* h-10 */
    font-size: 1rem !important;  /* text-base */
    padding-left: 2.5rem !important; /* pl-10 */
  }

  .mapboxgl-ctrl-geocoder--icon,
  .mapboxgl-ctrl-geocoder--button {
    width: 1.5rem !important;   /* w-6 */
    height: 1.5rem !important;  /* h-6 */
  }
}